# Mongo host (default: localhost)
MONGO_HOST=localhost
# Username
MONGO_USER=
# User password
MONGO_PASSWORD=
# Port of mongo instance
MONGO_PORT=27017
# Amount of minutes the programm will look. Set 0, then it runs once.
REPEAT_MINUTE=0
# Name of mongo database (collection name)
DB_NAME=fw_incidents